body {
    background-color: #80d4ea;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Courier New", Courier, monospace;
}
#clock {
    height: 100px;
    width: 800px;
    text-align: center;
    color: white;
    font-size: 100px;
    padding-top: 30px;
    background-color: #007bb5;
    border-radius: 15px;
}
